

html{
    min-height: 100%;}
body{
    background-image: url("img/jugg.jpg");
    background-size: cover;

    background-repeat:no-repeat;
    height: 100%;
   
}
.container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    width: 30%;
    justify-content:flex-end ;
    margin-top: 17%;
    margin-left: 60%;

}
.btns{
    height: 230px;
    width: 330px;
    border-radius: 20%;
    margin: 25px;
    border: 10px solid rgb(50, 18, 0);
}
.start{
    width: 150px;
    height: 10%;
    border-radius: 30%;
}
.SR{
    
    margin: 20px;
}
.playButton{
    
    display: flex;
    flex-direction: column;
    margin-left: 80%;
    
    
    
}
#highest{
    text-align: end;
    margin-right: 300px;
     color: rgb(241, 254, 0);
     padding-top: 100px;
     font-size: 50px;
     font-family: 'ZCOOL KuaiLe', cursive;
    
}

.weaver{
    background-image: url("img/weaver-2.jpg");
    background-size: cover;
}

.CM{
    background-image: url("img/cm.jpg");
    background-size: cover;
}
.tuskar{
    background-image: url("img/tuskar.jpg");
    background-size: cover;
}

.slark{
    background-image: url("img/slark.jpg");
    background-size: cover;
}


.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
  }
 #score-title{
     text-align: center;
     color: rgb(241, 254, 0);
     padding-top: 100px;
     font-size: 50px;
     font-family: 'ZCOOL KuaiLe', cursive
 }

 .game-over{
    background-image: url("img/jugg-lost.jpg");
  
 }
 @media screen and (max-width:800px) {
    html{
        min-height: 100%;
    }

    body{
        background-image: url("img/jugg2.jpg");
        background-size: cover;
    
        background-repeat:no-repeat;
        height: 100%;
       
    }
    .container{
    
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin-right: 20%;
    }
    .btns{
        height: 150px;
        width: 210px;
        border-radius: 20%;
        margin: 25px;
        border: 10px solid rgb(50, 18, 0);
        
    
    }
    .start{
        width: 70%;
        border-radius: 30%;
    }
   
 }
 @media screen and (max-width:400px){
    html{
        min-height: 100%;
    }

    body{
        background-image: url("img/jugg2.jpg");
        background-size: cover;
    
        background-repeat:no-repeat;
        min-height: 100%;
       
    }
     .btns{
         height: 100px;
         width: 140px;
         margin: 10px;
         border: 6px solid rgb(50, 18, 0);
         
         
     }
     #score-title{
        text-align: center;
        color: rgb(241, 254, 0);
        padding-top: 100px;
        font-size: 40px;
        font-family: 'ZCOOL KuaiLe', cursive;
    }
    .start{
        width: 100%;
        height: 20%;
        border-radius: 30%;
    }
    .container{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        width: 50%;
        margin-top: 30%;
        margin-left: 50%;
        padding-bottom: 30%;
    }

    .playButton{
        display: flex;
        flex-direction: column;
    }
     
 }
 
#extra{
    text-align: center;
    color: rgb(241, 254, 0);
    padding-top: 100px;
    font-size: 50px;
    font-family: 'ZCOOL KuaiLe', cursive

}
                